// ==============================
// Custom style
// 自定义样式
// ==============================
@media only screen and (max-width: 2440px) {
    .page {
      width: 98%;
      // margin-left: 15px;
      // max-width: calc(78% - 30px);
      max-width: calc(100% - 30px);
    }

    .home > .single {
      width: calc(100% - 30px);
      margin-left: 15px;
    }

    .container > .single {
      width: calc(78% - 60px);
      margin-left: 45px;
    }

    // .home {
    //   width: calc(100% - 30px);
    //   margin-left: 15px;
    // }
    /* #toc-auto {
      left: 78%;
      width: 22%;
    } */
  }

/* @media only screen and (max-width: 1024px) {
  .single-post {
    width: 96% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .page {
    width: 96% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  

  #header-desktop .header-wrapper {
    padding-left: 1rem;
  }
} */

/* .content {
    margin-top: 30px;
} */

.single-title a, .single-title, .header-title a {
    color: $single-title-color;
}

@media only screen and (max-width: 1000px) {
  .page {
    width: 90% !important;
    // margin-left: auto !important;
    // margin-right: auto !important;
  }
}